<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Fira+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <h1>Oso de oro chino</h1>
    </header>

    <div class="contenedor2">

        <div class="contenido1">
            <div class="menu">
                <nav>
                    <ul>
                        <li><a class="active" href="{% url "index" %}">Home</a></li>
                        <li><a href="{% url "get_matches" %}">Matches</a></li>
                        <li><a href="{% url "get_transfers" %}">Transfers</a></li>
                        <li><a href="{% url "get_teams" %}">Teams</a></li>
                        <li><a href="{% url "get_stadiums" %}">Stadiums</a></li>
                        <li><a href="{% url "get_referees" %}">Referees</a></li>
                    </ul>
                </nav>
            </div>
            <div class="content">
                <img src="{% static "home/images/stadium.png" %}" alt="Imagen de un esatdio de futbol caricaturizado">
                <div class="info">
                    <p>Oso oro chino just launched its app for you to
                        follow your favorite teams, along with all
                        the information about stadiums, matches, transfers and
                        MORE.</p>
                    <a href="{% url "get_matches" %}">Matches</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>