<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Matches</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Fira+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
</head>

<body>

<header>
    <h1>Oso de oro chino</h1>
</header>

<div class="contenedor3">

    <div class="contenido1">
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="{% url "index" %}">Home</a></li>
                    <li><a class="active" href="{% url "get_matches" %}">Matches</a></li>
                    <li><a href="{% url "get_transfers" %}">Transfers</a></li>
                    <li><a href="{% url "get_teams" %}">Teams</a></li>
                    <li><a href="{% url "get_stadiums" %}">Stadiums</a></li>
                    <li><a href="{% url "get_referees" %}">Referees</a></li>
                </ul>
            </nav>
        </div>

        <div class="content2">
            <div class="izq">
                <div class="up">
                    <div class="title">
                        <h1>Matches</h1>
                        <p>Click a match of interest to get more info.</p>
                    </div>

                    <div id="header-item-center">
                        <form method="post" action="{% url 'search_match' %}">
                            {% csrf_token %}
                            <label for="match_search"></label>
                            <input id="match_search" type="text" name="user_input">
                            <input type="submit" value="Search" />
                        </form>
                    </div>
                </div>

                {% if match_list %}
                    <div class="informacion">
                        <table class="tablas">
                            <tr>
                                <th>Team (Home)</th>
                                <th>Score</th>
                                <th>Team (Away)</th>
                                <th>Score</th>
                                <th>Stadium</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                            {% for match in match_list %}
                                <tr>
                                    <td onclick="location.href='{% url 'get_match_stats' match.id %}'">{{ match.home_team_name }}</td>
                                    <td onclick="location.href='{% url 'get_match_stats' match.id %}'">{{ match.home_team_score }}</td>
                                    <td onclick="location.href='{% url 'get_match_stats' match.id %}'">{{ match.away_team_name }}</td>
                                    <td onclick="location.href='{% url 'get_match_stats' match.id %}'">{{ match.away_team_score }}</td>
                                    <td onclick="location.href='{% url 'get_match_stats' match.id %}'">{{ match.stadium_name }}</td>
                                    <td onclick="location.href='{% url 'get_match_stats' match.id %}'">{{ match.date }}</td>
                                    <td onclick="location.href='{% url 'get_match_stats' match.id %}'">{{ match.start_time }}</td>
                                    <td>
                                        <img onclick="location.href='{% url 'delete_match' match.id %}'" src="{% static "matches/images/trash.png" %}" alt="caneca de basura de color rojo">
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    </div>
                {% endif %}

            <div class="der">
                <h2>Add Match</h2>
                <div class="formulario3">
                    <form method="post" action="{% url "add_match" %}">
                        {% csrf_token %}
                        <input type="text" placeholder="Home Team" name="away_team_name">
                        <input type="text" placeholder="Away Team" name="home_team_name">
                        <input type="text" placeholder="Stadium" name="stadium_name">
                        <input type="date" placeholder="Date" name="date">
                        <input type="number" placeholder="Time" name="time">
                        <input type="number" placeholder="Home Score" name="home_team_score">
                        <input type="number" placeholder="Away Score" name="away_team_score">

                        <h3>Goals</h3>
                        <input type="text" placeholder="Player" name="scorer_name">
                        <input type="number" placeholder="Minute" name="goal_minute">
                        <input type="text" placeholder="Team" name="goal_team_name">

                        <h3>Changes</h3>
                        <input type="text" placeholder="In Player" name="in_player_name">
                        <input type="text" placeholder="Out Player" name="out_player_name">
                        <input type="number" placeholder="Minute" name="change_minute">
                        <input type="text" placeholder="Team" name="change_team_name">

                        <h3>Faults</h3>
                        <input type="text" placeholder="Reason" name="fault_reason">
                        <input type="number" placeholder="Minute" name="fault_minute">
                        <input type="text" placeholder="Team" name="fault_team_name">
                        <input type="text" placeholder="Card" name="card">

                        <h3>Free Kicks</h3>
                        <input type="text" placeholder="Shooter" name="shooter_name">
                        <input type="text" placeholder="Barrier Players" name="barrier_names">
                        <input type="text" placeholder="Team" name="free_kick_team_name">
                        <input type="submit" value="Add Match">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>